html{
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    background-color: rgb(226, 226, 226);
    margin: auto;
    max-width: 1000px;
    font-size: larger;
}

.container {
    background-color: rgb(255, 255, 255);
    padding: 15px;
    border: 1px solid black;
    margin: 10px;
}

.form__title {
    font-size: 1.3em;
    font-weight: 700;
}
