html{
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    background-color: rgb(226, 226, 226);
    margin: auto;
    max-width: 1000px;
    font-size: larger;
}

.header__text {
    margin: 10px;
    padding-top: 30px;
    padding-bottom: 10px;
}

.container {
    background-color: rgb(255, 255, 255);
    margin: 15px;
    box-shadow: 8px 8px 10px -12px rgba(136, 136, 148, 1);
}

.form__title {
    font-size: 1.3em;
    font-weight: 700;
}

.form__container {
    width: 100%;
    padding: 20px;
    border-bottom: 1px solid rgb(201, 201, 201);
}

.form__container--submit {
    display: flex;

}

.form__task {
    flex-grow: 1;
    margin-right: 20px;
    min-height: 50px;
    padding: 10px;
    border: 1px solid rgb(201, 201, 201);
    border-radius: 5px;
}

.form__submit {
    min-height: 50px;
    background-color: teal;
    color: white;
    font-family: inherit;
    border: none;
    padding: 0 20px;
}

.form__submit:hover {
    background-color: rgb(17, 170, 170);
}

.form__submit:active {
    background-color: rgb(44, 202, 202);
}

.taskList {
    padding-inline-start: 10px;
    padding-inline-end: 10px;
}

.taskList__item {
    font-size: 1.1em;
    padding: 10px;
    list-style-type: none;
    margin-bottom: 40px;
    border-bottom: 1px solid rgb(201, 201, 201);
    display: flex;
    justify-content: space-between;
}

.taskList__text {
    flex-grow: 1;
    padding-left: 20px;
    text-align: left;
    align-self: center;
}

.taskList__text--done {
    text-decoration: line-through;
}

.taskList__button {
    min-height: 50px;
    min-width: 50px;
    background-color: green;
    color: white;
    border: none;
}

.taskList__button--done {
    background-color: green;
}

.taskList__button--trash {
    background-color: rgb(236, 57, 93);
}

/* TODO: Fix the sizes of buttons */
